<div class="container" style="margin-top: 20%;">
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col-12">
            <input type="text" class="form-control" style="margin-top:10px;" placeholder="Username" id="Name">
            <button class="btn btn-success container" id="CreateNew" disabled onclick="CreateNewRoom();">Create New</button>
        </div>
    </div>    
    <hr style="width: 30%;">
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col-12">
            <input type="text" class="form-control" style="margin-top:10px;" placeholder="Code" id="Code">
            <button class="btn btn-info container" id="Join" disabled onclick="JoinRoom();">Join</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/lottery").build();

    connection.on("Roll", function(number)
    {
        console.log(`Rolled: ${number}`);
    });

    connection.on("ReceiveMessage", function(msg){
        console.log(`Msg: ${msg}`);
    });

    connection.on("GoToRoom", function(roomId){
        window.location.href = `/room/${roomId}`;
    });

    connection.start().then(function () {
        document.getElementById("CreateNew").disabled = false;
        document.getElementById("Join").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function CheckUsername(){
        var username = $("#Name").val();
        if(username == ""){
            alert("Invalid username");
            return false;
        }
        connection.invoke("SetName", username);
        return true;
    }

    function CreateNewRoom(){
        if(CheckUsername()){
            connection.invoke("CreateNewRoom").catch(function(err){
                return console.error(err.toString());
            });
        }
    }

    function JoinRoom(){
        if(CheckUsername()){
            var roomId = $("#Code").val();
            connection.invoke("JoinRoom", roomId).catch(function(err){
                return console.error(err.toString());
            });
            window.location.href = `/room/${roomId}`;
        }
    }
</script>